<br><button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button><br>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Personal Information</ng-template>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>

      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="firstCtrl" required>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="emailFormControl" formControlName="firstCtrl" required>
        <mat-error *ngIf="emailFormControl.value !== '' && emailFormControl.untouched && emailFormControl.invalid">
          Please enter a valid email address
        </mat-error>

      </mat-form-field><br>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Birthday" formControlName="firstCtrl" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" >

    <ng-template matStepLabel>Upload Design</ng-template>

    <label class="image-upload-container btn btn-bwm">
      <span>Upload Design</span><br>
      <br>
      <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
    </label>


    <div *ngIf="selectedFile" class="img-preview-container">

      <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
        [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
      </div>

      <div *ngIf="selectedFile.pending" class="img-loading-overlay">
        <div class="img-spinning-circle"></div>
      </div>

      <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
      <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
    </div>
    <div><br>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button matStepperNext>Next</button>
    </div>

  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Choose Song</ng-template>
      <h4>Choose BTS Song</h4>
      <mat-form-field>
        <mat-label>BTS-Song</mat-label>
        <select matNativeControl formControlName="thirdCtrl" required>
          <option value="volvo">BTS-Fake Love</option>
          <option value="saab">BTS-IDOL</option>
          <option value="mercedes">BTS-DNA</option>
          <option value="audi">BTS-Boy With Luv</option>
          <option value="audi">BTS-Mic Drop</option>
          <option value="audi">BTS-Dope</option>
          <option value="audi">BTS-Fire</option>
          <option value="audi">BTS-Save Me</option>
        </select>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>

      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>

    Details taken.
    <div><br>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>